.root {
  background-color: var(--white);
  border: transparent;
  border-radius: 24px;
  padding-left: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}
.root:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.root::placeholder {
  color: #a0a4a8;
}
.label {
  position: relative;
  margin-left: 60px;
}
.icon--before {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .root {
    min-width: 350px;
  }
  .label {
    margin-left: 0;
  }
}
