:root {
  --bg-color: #f6f8fb;
  --text-color: #52575c;
  --white: #ffffff;

  --blue-1: #0a459f;
  --blue-2: #31517a;
  --neutral-divider: #e8e8e8;
  --neutral-divider-light: #f6f8fb;

  --shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
